body {
  background-image: url('@/assets/wallpaperbetter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
}

h3 {
  margin: 40px 0 0;
}
.logoText {
  text-decoration: none !important;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
dl {
  margin-top: 20px !important;
}
a {
  color: #42b983;
}
.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}
.background {
  background-image: url('@/assets/그라운드.svg');
  display: flex;
}
.rightPlayers {
  display: flex;
}

.playersBoard {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.playersCard {
  width: 100%;
  height: 110px;
  padding: 10px;
}
.playerImgDiv:hover {
  border-left: 1mm ridge rgba(13, 219, 6, 0.89);
}
.playerImgDiv.active {
  width: 80%;
  height: 65%;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  position: relative;
}
.win {
  background: rgb(51, 154, 240);
}
.lose {
  background: rgb(255, 107, 107);
}
.playerImg {
  width: 50px;
}
.playerPosition {
  text-align: center;
  min-width: 4rem;
  padding: 0px 0.2rem;
  font-size: 0.7rem;
  color: rgb(33, 33, 33);
  background: rgb(255, 212, 59);
  border-radius: 0.4rem;
}
.goalBox {
  text-align: center;
  display: flex;
}
.playerName {
  text-align: center;
  min-width: 4rem;
  padding: 0px 0.2rem;
  font-size: 0.1rem;
  color: rgb(254, 255, 251);
  background: rgb(117, 117, 115);
  border-radius: 0.4rem;
  letter-spacing: 0px;
}
.playerWrab {
  width: 50%;
  margin: 0px auto;
}
.css-18wvhjm {
  width: 100%;
  margin: 0px auto;
}
#away {
  transform: rotate(180deg);
}
#away .playersCard {
  transform: rotate(-180deg);
}
#away .playersCard:hover {
  transform: rotate(-180deg), scale(1.1);
}

#SW,
#RWB,
#RB,
#CB,
#LCB,
#RCB,
#LB,
#LWB {
  background: rgb(77, 171, 247);
}
#RF,
#CF,
#LF,
#RW,
#RS,
#ST,
#LS,
#LW {
  background: rgb(255, 107, 107);
}
#RDM,
#CDM,
#LDM,
#RM,
#RCM,
#CM,
#LCM,
#LM,
#RAM,
#CAM,
#LAM {
  background: rgb(81, 207, 102);
}
.score {
  position: absolute;
  top: 0px;
  left: 40px;
  padding: 3px;
  border-radius: 6px;
  z-index: 999;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.rateLow {
  background: #e28113;
}
.rateMid {
  background: #e28113;
}
.rateHigh {
  background: #46c545;
}
.bestPlayer {
  font-size: 12px;
  background: #ffc83d;
}
.matchStatCover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(rgba(212, 232, 255, 0.4), rgba(212, 232, 255, 0.4)),
    linear-gradient(to right, rgba(212, 232, 255, 0.4) 0%, rgba(212, 232, 255, 0.4) 100%) !important;
}
.matchStats {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
}
.card-body {
  padding: 0px 0px 0px 0px;
}
.dividLine {
  font-size: 24px;
  padding: 5px;
}
.statTitle {
  font-weight: bold;
  font-size: 16px;
  color: rgba(25, 25, 26, 0.986);
}
.statDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avgMatch {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 8px solid transparent;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(246, 246, 247)), linear-gradient(to right, rgb(178, 209, 67) 0%, #ff9300 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.avgStat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
}
.statTextWrab {
  font-size: 40px;
  font-weight: bold;
}
.statText {
  background: linear-gradient(to right top, #f4653e 30%, #f43e4e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tenGame {
  font-size: 18px;
}
.avg {
  font-size: 20px;
  font-weight: bold;
}
.hedaerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-box h1 {
  font-family: 'Staatliches', cursive;
  font-size: 6em;
  text-align: center;
  color: white;
  margin: 0;
}
.text-box h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  letter-spacing: 3px;
  text-align: center;
}
.cardTitle {
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
  font-size: 30px !important;
  background-color: transparent !important;
  border: 3px solid transparent !important;
  border-radius: 10px !important;
  background-image: linear-gradient(rgba(163, 182, 206, 0.2), rgba(54, 83, 149, 0.2)),
    linear-gradient(to right, rgb(54, 83, 149, 0.2) 0%, rgba(160, 181, 209, 0.2) 100%) !important;
}
.card-body {
  padding: 0 !important;
}
/* .accordion {
  background-image: url('@/assets/공식 경기.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
} */
.cardHedaer {
  display: flex;
  /* justify-content: space-between; */
  padding: 0px !important;
}
.cardHedaer:hover {
  cursor: pointer;
  transform: scale(1.015);
}
.test-승 {
  width: 100%;
  color: rgb(27, 252, 46);
  font-weight: 600;
}
.test {
  width: 100%;
  font-size: 15px;
  display: flex;
}
.test-무 {
  width: 100%;
  color: #fff;
  font-weight: 600;
}
.test-패 {
  color: rgb(253, 51, 51);
  width: 100%;
  font-weight: 600;
}
.승 {
  font-size: 24px;
  padding: 5px;
  font-weight: 600;
  color: rgb(43, 155, 247);
}
.패 {
  font-size: 24px;
  padding: 5px;
  font-weight: 600;
  color: rgb(255, 107, 107);
}
.무 {
  font-size: 24px;
  padding: 5px;
  font-weight: 600;
  color: rgb(120, 121, 122);
}

.titleCenter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.titleCenterScore {
  font-size: 60px;
}

.moreBtnArea {
  width: 100%;
  height: 80px;
  background: linear-gradient(rgba(83, 154, 241), rgba(54, 83, 149));
  color: white;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  line-height: 80px;
  border-radius: 10px;
}
.moreBtnArea:hover {
  cursor: pointer;
  background: linear-gradient(rgb(64, 142, 238), rgb(47, 77, 148));
}
/** lib 없이 모달 구현  */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.player-modal,
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.overlay {
  opacity: 0.2;
  background-color: black;
}
.modal-card {
  max-width: 55%;
  min-width: 55%;
  margin: auto;
  padding: 20px;
  background-color: rgb(253, 254, 255);
  position: fixed;
  min-height: 485px;
  max-height: 550px;
  left: 23%;
  top: 32%;
  z-index: 9999;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}
.fade-in {
  animation: fadeInUp 0.6s;
}

.fade-out {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.modal-body {
  position: relative;
  padding: var(--bs-modal-padding);
  display: flex;
}
.modal-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
  text-align: left;
}
.playerInfoImg {
  box-sizing: content-box;
  width: 150px;
  height: 150px;
  background: rgb(255, 232, 204);
  border: 2px solid rgba(173, 181, 189, 0.54);
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto;
}

.seasonPlayerImg {
  position: relative;
  top: 25.5%;
  width: 190px;
}
.seasonLogoImg {
  display: flex;
  position: absolute;
  top: 55%;
  left: 4%;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.playerInfoName {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  top: 27%;
  padding: 3px;
}
.playerCardInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.cardInfoTitle {
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  color: rgb(117, 117, 117);
}
.seasonCardImg {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
  width: 25%;
}
.gradeNum {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  font-size: 20px;
}
.gradeNum.nomal {
  color: #c5c8c9 !important;
  background: #51545a !important;
  background: linear-gradient(140deg, #51545a 0%, #51545a 0%, #42464d 100%) !important;
  border: 1.5px solid #393a3c !important;
  border-top-color: #62676d !important;
  border-left-color: #62676d !important;
  border-right-color: #393a3c !important;
}
.gradeNum.bronze {
  color: #7e3f27 !important;
  background: #de946b !important;
  background: linear-gradient(140deg, #de946b 0%, #de946b 0%, #ad5f42 100%) !important;
  border: 1.5px solid #864229 !important;
  border-top-color: #e4b7a2 !important;
  border-left-color: #e4b7a2 !important;
  border-right-color: #864229;
}
.gradeNum.silver {
  color: #4e545e !important;
  background: #020024 !important;
  background: linear-gradient(140deg, rgb(2, 0, 36) 0%, rgb(216, 217, 220) 0%, rgb(184, 189, 202) 100%) !important;
  border: 1.5px solid #a5a8ae !important;
  border-top-color: #d8dadc !important;
  border-left-color: #d8dadc !important;
  border-right-color: #a9aaae !important;
}
.gradeNum.gold {
  color: #695100 !important;
  background: #f9dd62 !important;
  background: linear-gradient(140deg, #f9dd62 0%, #f9dd62 0%, #dca908 100%) !important;
  border: 1.5px solid #cda000 !important;
  border-top-color: #e9d36c !important;
  border-left-color: #e9d36c !important;
  border-right-color: #cda000 !important;
}

.playerStats {
  text-align: left;
  width: 75%;
}
.playersStatSpan {
  font-size: 16px;
  font-weight: bold;
  padding: 1px;
  color: #2e2e2ebe;
}
.statsRows {
  padding: 0px 10px;
}
.playerStatsTitle {
  font-size: 20px;
  font-weight: bold;
}
.statsRows > dd {
  text-indent: 15px;
  display: inline-block;
}
.playerStatText {
  padding-left: 5px;
  font-size: 20px;
  color: rgb(255, 64, 64);
  font-weight: 700;
}
